
<table class="table table-striped">
  <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
  </thead>

  <tbody>
  <% @feed_entries.each do |entry|%>
      <tr>
        <td><%= entry.id %></td>
        <td>
          <%= link_to "#{entry.name}", "#{entry.url}",:target => "_blank" %>
        </td>
        <td>
          <%= link_to 'Edit',edit_feed_path(entry) %>
          
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
