
<%= form_tag create_feed_url_path do %>
  <table>
    <tr>
      <td>Add Feed Url</td>
      <td><input type="text" name="rss_feed_url[url]" /></td>
      <td><input type="submit" value="Add Url" /></td>
    </tr>
  </table>
<% end %>





<table class="table table-striped">
  <thead>
  <th>URL</th>
  <th>Action</th>
</thead>

<tbody>
<% rss_feeds = RssFeedUrl.all  %>
  <% rss_feeds.each do |rss_feed| %>
    <tr>
      <td>
        <%= link_to  "#{rss_feed.url}", :controller => 'rss_feeds' , :action => 'index' , :feed_url => rss_feed.url %>
      </td>
      <td><%= link_to 'Edit' %></td>
      <td><%= link_to 'Destroy', :controller => 'rss_feeds', :action => 'del_feed_url', :id => rss_feed.id %></td>

    </tr>
  <% end if rss_feeds %>
</tbody>
</table>
